.footer
{
  height: 100%;
}

#trademark
{
  font-size: 12.5px;
}

a, a:hover {
	color: #FFF;
	text-decoration: none;
	padding: 5px;
}

.social-buttons, .social-buttons ul, .social-buttons li {
	margin: 0;
	padding: 5px;
}

.social-buttons li {
    list-style: none outside none;
    display: inline-block;
}

.social-buttons li {
    list-style: none outside none;
    display: inline-block;
}

.social-buttons .fa {
	color: #000;
	text-shadow: 1px 1px 0px #FFF,
			1px -1px 0px #FFF,
			-1px 1px 0px #FFF,
			-1px -1px 0px #FFF;
	-webkit-text-shadow: 1px 1px 0px #FFF,
			1px -1px 0px #FFF,
			-1px 1px 0px #FFF,
			-1px -1px 0px #FFF;
	-moz-text-shadow: 1px 1px 0px #FFF,
			1px -1px 0px #FFF,
			-1px 1px 0px #FFF,
			-1px -1px 0px #FFF;
	-o-text-shadow: 1px 1px 0px #FFF,
			1px -1px 0px #FFF,
			-1px 1px 0px #FFF,
			-1px -1px 0px #FFF;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}

.social-buttons .fa:hover {
	color: #FFF;
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}
