<div class="row text-center no-gutters footer-row">
  <div class="col-12">
    <ul>
      <li><a href="https://twitter.com/GazMagalhaes" class="fa fa-lg fa-twitter"></a></li>
      <li><a href="https://www.linkedin.com/in/joaomagalhaes9/" class="fa fa-lg fa-linkedin"></a></li>
      <li><a href="https://github.com/GazelleMag" class="fa fa-lg fa-github"></a></li>
    </ul>
  </div>
</div>

<div class="row trademark-row">
  <div class="col-12">
    <p class="lighter-font" id="trademark">@ 2021 João Magalhães</p>
  </div>
</div>
