<div class="container-fluid">
  <div class="row justify-content-center align-items-center footer">

    <div class="col-12 social-buttons" style="text-align: center;">
      <ul>
        <li><a href="https://twitter.com/GazMagalhaes" class="fa fa-lg fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/joaomagalhaes9/" class="fa fa-lg fa-linkedin"></a></li>
        <li><a href="https://github.com/GazelleMag" class="fa fa-lg fa-github"></a></li>
      </ul>
    </div>

    <div class="col-12" style="text-align: center;">
      <p class="lighter-font" id="trademark">@ 2021 João Magalhães</p>
    </div>

  </div>
</div>


<!--<div class="col-12">
  <div class="row justify-content-center align-items-center social-buttons">
    <ul>
      <li><a href="https://twitter.com/GazMagalhaes" class="fa fa-lg fa-twitter"></a></li>
      <li><a href="https://www.linkedin.com/in/joaomagalhaes9/" class="fa fa-lg fa-linkedin"></a></li>
      <li><a href="https://github.com/GazelleMag" class="fa fa-lg fa-github"></a></li>
    </ul>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <p class="lighter-font" id="trademark">@ 2021 João Magalhães</p>
</div>-->