<div class="row justify-content-center align-items-center footer">
  <div class="col-12">
    <div class="row justify-content-center align-items-center social-buttons">
      <ul>
        <li><a href="https://twitter.com/GazMagalhaes" class="fa fa-lg fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/joaomagalhaes9/" class="fa fa-lg fa-linkedin"></a></li>
        <li><a href="https://github.com/GazelleMag" class="fa fa-lg fa-github"></a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <p class="lighter-font" id="trademark">@ 2021 João Magalhães</p>
  </div>
</div>
