<div class="container-fluid about-container">
  <div class="row no-gutters">
    <div class="col-12 about-header-col">
      <h2>A bit about myself</h2>
    </div>
    <div class="col-12 col-md-6 about-text-col">
      <p>I'm a 25 years old web and game developer located in Portugal.</p>
      <p>I've always been in contact with computers from a very young age, and loving it.
        It was only natural for me to get into code, pursue a degree in computer science and making
        a career out of it.
      </p>
      <p>I love to solve problems, simple and complex ones. It's also a blessing to be able to
        learn from them everyday.<br>
        More than anything, my passion is and always will be bringing amazing and creative ideas to life.
      </p>
      <p>Let me also say that I'm very into sports, being with friends and playing video games. Above everything,
        I am human!
      </p>
    </div>
  </div>
</div>
