<div class="row about-me-row">
  <div class="col-12">

    <div class="row about-me-header-row">
      <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-3">
        <h2 class="mb-4"><strong>A bit about myself</strong></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-3">
        <p>I'm a {{getMyAge()}} years old web and game developer located in Portugal.</p>
        <p>
          I've always been in contact with computers from a very young age, and loving it.
          It was natural for me to get into code, pursue a degree in computer science and following this career.
        </p>
        <p>
          I love to solve problems and learn from them.<br>
          More than anything, my passion is and always will be bringing amazing and creative ideas to life.
        </p>
        <p>My favorite hobbies are sports, being with friends and playing video games.</p>
      </div>
    </div>

  </div>
</div>
