.details-modal {
  padding: 20px 20px;
}

.header-row {
  align-items: center;
  justify-content: flex-start;
}

.header-col {
  padding-right: 12px;
}

.badge-col {
  flex: 1;
}

.badge.badge-dark {
  font-size: 15px;
}

.badge.badge-success {
  font-size: 15px;
}

.github-button-col {
  text-align: end;
  padding-right: 6px;
}

.close-button-col {
  text-align: start;
  padding-left: 6px;
}

.github-button {
  width: 70px;
}

.github-button.fa {
  font-size: 24px;
  padding: 0px;
}

.close-button {
  width: 70px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn, .btn:active, .btn:focus {
  background-color: #343a40;
  border-color: #343a40;
}

.btn:hover {
  background-color: #212529;
  border-color: #212529;
}


p {
  margin-left: 2px;
}
