.menu-container {
  height: 15vh;
}

.menu-container .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}

nav {
  height: 100%;
  display: block;
  text-align: center;
}

.navbar {
  padding: 0px;
}

#navbarSupportedContent {
  height: 100%;
}

a.nav-link {
  margin: 0 20px 0 20px;
}

button.navbar-toggler {
  padding: 8px 8px 8px 8px;
}
