<div class="row portfolio-row">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1">

    <div class="row">
      <!-- Game development col -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h3 class="project-group-title"><strong>Game Development</strong></h3>
        <div class="container">
          <div class="row game-development-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 project-col">
              <div class="project-card">
                <img src="../../assets/Images/test1.png" class="project-image">
                <div class="project-overlay">
                  <button type="button" class="btn btn-dark details-button" (click)="openProjectDetailsModal(1)">View
                    Details</button>
                  <a class="btn btn-dark download-button fa fa-download" href="/assets/Games/PuntsPats.exe"
                    download></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 project-col">
              <div class="project-card">
                <img src="../../assets/Images/test2.png" class="project-image">
                <div class="project-overlay">
                  <button type="button" class="btn btn-dark details-button" (click)="openProjectDetailsModal(2)">View
                    Details</button>
                  <button type="button" class="btn btn-dark download-button fa fa-download"
                    (click)="showDownloadUnavailableAlert();"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Web development col -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h3 class="project-group-title"><strong>Web Development</strong></h3>
        <div class="container">
          <div class="row web-development-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 project-col">
              <div class="project-card">
                <img src="../../assets/Images/stag.png" class="project-image">
                <div class="project-overlay">
                  <button type="button" class="btn btn-dark details-button" (click)="openProjectDetailsModal(3)">View
                    Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="unavailable-alert">
  <ngb-alert #selfClosingAlert *ngIf="errorMessage" type="danger" [dismissible]="false" (closed)="errorMessage = ''">
    {{ errorMessage }}
  </ngb-alert>
</div>
