.main-row {
  overflow-y: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.header-row {
  height: 10%;
  text-align: center;
  align-items: center;
}

.header-col {
  margin: 12px 0px 12px 0px;
}

.main-content-row {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer-row {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px
}
