.introduction-row {
  margin-top: 70px;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 70%;
  height: auto;
  max-width: 225px;
}

#avatar_col {
  text-align: center;
}

.introduction-col > * {
  text-align: center;
}

.introduction-col p:first-of-type {
  font-size: 25px;
}
