<div class="container-fluid">

  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-12 mt-4 mb-3" id="avatar_col">
      <img src="assets/dog.jpg" alt="Avatar">
    </div>
    <div class="col-12 col-md-5 mt-3 mb-4">
      <p class="lighter-font" id="home_message">
        Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown 
        printer took a galley of type and scrambled it to make a 
        type specimen book.
      </p>
    </div>
  </div>

  <!--<div class="row justify-content-center" id="home_message">
    
  </div>-->

</div>