.home-container {
  height: 65vh;
}

.home-container .row {
  height: 100%;
}

img
{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

#avatar_col
{
  text-align: center;
}

#home_message
{
  text-align: center;
}
