.introduction-row {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

#avatar_col {
  text-align: center;
}

.introduction-col > * {
  text-align: center;
}

.introduction-col p:first-of-type {
  font-size: 25px;
}
